<doctype! html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <script src="./bower_components/angular/angular.min.js"></script>
  <title>Minesweeper</title>
</head>
<body>
  <div class="container" ng-app="minesweeper" ng-controller="minesweeperCtrl">
    <div>
      <span>Enter Table Size</span>
      <input type="text" ng-model="params.size"></input>
    </div>
    <div>
      <span>Enter Number of mines</span>
      <input type="text" ng-model="params.num"></input>
    </div>
    <button ng-click="init()">Start!</button>
    <table border="1">
      <tr ng-repeat="row in table.rows">
      <td align="center" ng-repeat="square in row.cols" ng-click="uncover(square)"><span ng-class="{'hidden' : square.covered}">{{square.count}}</p></td>
      </tr>
    </table>
    <div>
      Squares uncovered: {{params.uncovered}}
  </div>
  <script src="js/app.js"></script>
  <script src="js/tablefactory.js"></script>
  <script src="js/minefactory.js"></script>
  <script src="js/helperfactory.js"></script>
</body>
</html>
